[submodule "SimpleStack"]
	path = libs/SimpleStack
	url = https://github.com/Iprime111/SimpleStack.git
	branch = stack-lib
[submodule "CustomAssert"]
	path = libs/CustomAssert
	url = https://github.com/Iprime111/CustomAssert.git
[submodule "ConsoleParser"]
	path = libs/ConsoleParser
	url = https://github.com/Iprime111/ConsoleParser.git
[submodule "FileIO"]
	path = libs/FileIO
	url = https://github.com/Iprime111/FileIO.git
[submodule "ColorConsole"]
	path = libs/ColorConsole
	url = https://github.com/Iprime111/ColorConsole
